@model QRProject.ViewModels.InformationViewModel
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="navbar navbar-fixed-top orange">
        <div class="container">
            <div class="navbar-header">



                <span class="black little">Witaj @Model.UserFirstName</span>
                @using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
                {
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="black little bigletters">Wyloguj się</a>
                }


            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
    <br />
    using (Html.BeginForm("Manual", "Room", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline text-center" }))
    {

        <label for="roomNr">Numer sali</label>
        <br />

        <div ng-app="adminPage" ng-controller="adminController">
            <select name="RoomNr" id="roomNr" class="inputs-size-bigger" required>
                <option ng-repeat="room in rooms" value="{{room.RoomNr}}">{{room.RoomNr}}</option>
                <option selected="@Model.Message">@Model.Message</option>
            </select>
        </div>


        <br />

        <label for="day">Data</label>
            <br />
            <input type="date" name="date" id="day" class="inputs-size-bigger" required value="@DateTime.Now.ToString("yyyy-MM-dd")" />

            <br />

            <label for="firstHour">Godzina rozpoczęcia</label>
            <br />
            <input type="time" name="StartHour" id="firstHour" class="inputs-size-bigger" required value="@DateTime.Now.ToString("HH:mm")" />

            <br />

            <label for="lastHour">Godzina zakończenia</label>
            <br />
            <input type="time" name="EndHour" id="lastHour" class="inputs-size-bigger" required value="@DateTime.Now.AddHours(2).ToString("HH:mm")" />

            <br />
                <br />


                <div class="text-center">
                    <input type="submit" name="Submit" id="Submit" class="btn orange button-big medium-large" value="Zarezerwuj salę" runat="server" />
                </div>
    }
    <br />


    <br />
    <br />





}
else
{
    Response.Redirect("~/User/Login");
}


@section Scripts {
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/AdminController.js"></script>
}